<div class="container-fluid color-me-important bottomMargin">
    <h1>QUIZZES</h1>
    <h3>Test your coding knowledge. Attempt a quiz and understand how much you know about your favourite programming
      language</h3>
  </div>
  <!-- cards -->
  
  <h2 class="container-fluid color-me-important BottomBorder1 bottomMargin">Browse Quizzes</h2>
  <div class="row container-fluid">
    <div class="col-sm-12 col-md-6 col-lg-4 row justify-content-center bottomMargin">
      <div class="card div_hover" style="width: 18rem;">
        <img src="assets/cquizImage.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">C++ Quiz</h5>
          <p class="card-text">Following quiz provides Multiple Choice Questions (MCQs) related to C++ Framework. You will
            have to read all the given answers and click over the correct answer.</p>
          <a routerLink ="cquiz" class="btn btn-primary">Start</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 row justify-content-center bottomMargin">
      <div class="card div_hover" style="width: 18rem;">
        <img src="assets/pythonLogo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Python Quiz</h5>
          <p class="card-text">Following quiz provides Multiple Choice Questions (MCQs) related to Python Framework. You
            will have to read all the given answers and click over the correct answer,</p>
          <a href="python" class="btn btn-primary">Start</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 row justify-content-center bottomMargin">
      <div class="card div_hover" style="width: 18rem;">
        <img src="assets/javaLogo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Java Quiz</h5>
          <p class="card-text">Following quiz provides Multiple Choice Questions (MCQs) related to Java Framework. You
            will have to read all the given answers and click over the correct answer.</p>
          <a href="java" class="btn btn-primary">Start</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 row justify-content-center bottomMargin">
      <div class="card div_hover" style="width: 18rem;">
        <img src="assets/jslogo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Javascript Quiz</h5>
          <p class="card-text">Following quiz provides Multiple Choice Questions (MCQs) related to Javascript Framework.
            You will have to read all the given answers and click over the correct answer</p>
          <a href="js" class="btn btn-primary">Start</a>
        </div>
      </div>
    </div>
  
  </div>
  
